.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}
input[type="text"] {
  padding: 10px;
  margin-bottom: 30px;
  width: 200%;
  text-align: center;
}

/* background colors for selected items */
.selected-color-1 {
  background-color: #8f74f1;
}
/* background color for unselected items */
.unselected-color {
  background-color: #f0f0f0;
}
